@import url('https://fonts.googleapis.com/css?family=Quicksand');

.App {
  text-align: center;
  background-color: #f8c792;
  height: 100vh;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Pad {
  min-height: 25vh;
}

.App-header {
  min-height: 50vh;
  font-size: calc(10px + 2vmin);
  color: rgb(79, 32, 219);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textBack {
  margin-top: 100px;
  background-color: white;
  border-radius: 8px;
}

p {
  font-family: 'Quicksand', cursive;
  padding: 20px;
  animation-name: example;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.col {
    float: left;
    width: 33.33%;
}

.pic {
  height: 40vmin;
}

@keyframes example {
  from {font-size: calc(10px + 2vmin);}
  to {font-size: calc(10px + 3vmin);}
}
